<div class="site-header bg-light">
    <div class="container">
      <a href="/" aria-label="Bootstrap">
        <h1 class="f2">{{ site.title | escape }}</h1>
      </a>
      <p class="f5">
        Set of notes about infrastructure management using <a href="https://puppet.com/docs/puppet/latest/puppet_overview.html" title="Introduction to Puppet" target="_blank">Puppet</a>, <a href="https://puppet.com/docs/bolt/latest/bolt.html" title="Welcome to Bolt" target="_blank">Puppet Bolt</a>, <a href="https://docs.openstack.org/heat/latest/" title="Welcome to the Heat documentation!" target="_blank">OpenStack Heat</a> and other tools
      </p>
    </div>
  </div>
