<ul class="navbar-nav ml-sm-auto">
  {%- if site.github_username -%}
  <li class="nav-item">
    <a class="nav-link p-2" href="https://github.com/{{ site.github_username| cgi_escape | escape }}" target="_blank" rel="noopener" aria-label="GitHub">
      {% include icons/github.svg class="navbar-nav-svg" width="36" height="36" %}
    </a>
  </li>
  {%- endif -%}
  {%- if site.twitter_username -%}
  <li class="nav-item">
    <a class="nav-link p-2" href="https://twitter.com/{{ site.twitter.username }}" target="_blank" rel="noopener" aria-label="Twitter">
      {% include icons/twitter.svg class="navbar-nav-svg" width="36" height="36" %}
    </a>
  </li>
  {%- endif -%}
  {%- if site.slack -%}
  <li class="nav-item">
    <a class="nav-link p-2" href="{{ site.slack }}" target="_blank" rel="noopener" aria-label="Slack">
      {% include icons/slack.svg class="navbar-nav-svg" width="36" height="36" %}
    </a>
  </li>
  {%- endif -%}
</ul>