.posts-container {
  max-width: 760px;

  @media (min-width: 40em) {
    font-size: 18px;
  }
}

//
// List page
//
.list {
  padding-left: 0;
  list-style: none;
}

.list li {
  display: block;
  margin-bottom: 5px;
}

.list span {
  float: right;
  color: #767676;
}

// Posts and pages
//
// Each post is wrapped in `.post` and is used on default and post layouts. Each
// page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: 4em;
}

// Break long links
.post a {
  word-break: break-word;
}

// Special case the opening paragraph
.post > p:first-of-type {
  font-size: 130%;
  color: $gray-700;
}

.post .embed-responsive {
  margin-bottom: 2rem;
}

.post li {
  margin-bottom: .25rem;
}

// Blog post or page title
.page-title,
.post-title,
.post-title a {
  color: #303030;
}

// Related posts
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}

.related-posts li small {
  font-size: 75%;
  color: #767676;
}

.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}

.related-posts li a:hover small {
  color: inherit;
}