$white: #fff;
$blue-500: #007bff;
$gray-700: #495057;
$blog-aquamarine:        rgb(70, 140, 115);
$blog-aquamarine-bright: lighten(saturate($blog-aquamarine, 5%), 15%);
$blog-dark:              #2a2730;